*{  box-sizing: border-box; margin: 0 auto; }

ul{ padding: 0; list-style: none; }
a{  text-decoration: none; color: #000; }

body{
    position: relative;
    background-color: #fff;
    font-family: 'SUITE-Regular';
    overflow-x: hidden;
    background:#161616;
    
}




/*2025.03.06.댕새벽작업===========================*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  scroll-behavior: smooth;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/*===========================*/




#section1 {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-top: 50px;
  justify-content: space-around;
}

#section2 {
  height: 182vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

#section3 {
  height: 100vh;
  margin-top:14vw;
 
  
}
section{
  scroll-snap-align: center;
}
#section4 {
  height: 125vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

#section5 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#section6 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

nav


/* 섹션 배경 색상 */
#section1 { background-color: #161616; }
#section2 { background-color: #161616; }

#section4 { background-color: #161616;  }
#section5 { background-color: #161616; }
#section6 { background-color: #ffca00; }


nav {
position: absolute;
top: calc(1080px * 4); 
left:50%;
transform: translate(-50%,-50%); 
padding: 10px 0;
height: 0vw;
margin-top:13vw;
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;

text-align: center;
flex-direction: row;
}

nav ul li {
margin: 10px 0;
}

nav ul li a {
color:#b9b9b9;
text-decoration: none;
font-size: 18px;
display: block;
padding: 10px 74px;
font-weight: 600;
}
nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px; 
  background: linear-gradient(90deg, #ff0066, #ffcc00, #33cc33); 
  transform: scaleX(0); 
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

nav ul li a:hover {
  color: #ffffff; 
}

nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}






/*===========*/

.text-container {
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-align: right;
  color: #d3d3d3;
}

.line {
  display: block;
  opacity: 0;
  animation: typing 2s steps(10) forwards;
}

.line:nth-child(1) {
  animation-delay: 0s;
}

.line:nth-child(2) {
  animation-delay: 1s;
}

.line:nth-child(3) {
  animation-delay: 2s;
}

@keyframes typing {
  from {
      width: 0;
      opacity: 0;
  }
  to {
      width: 100%;
      opacity: 1;
  }
}






/* 섹션 section1 start */

.section__1{
  position: relative;
}
.section__type1{
  color:#fff;
  font-size:9rem;
  font-weight: 600;
}

.section__type2{
  color: #ffca00;
  font-size: 5.5rem;
  font-weight: 400;
  font-family: 'continuous', 'Dancing Script', 'Pacifico', cursive;
  transform: rotate(-13deg);
  text-align: right;
  position: absolute;
  top: 19vw;
  right: -8vw;

  
}
.section__type3{
  color:#fff;
  font-size:1.5rem;
  font-weight: 300;
  text-align: right;
}



/* 섹션 section1 end ------------------------------------*/
    

/* 섹션 section2 start==================================== */
#wrap{
  margin-top:1.7vw;
}
   .box-container{
    position: relative;
   }
   .box-container_type{
    position: absolute;
    top:0;
    right:0;
    margin-right: 4vw;
   }
   .box-container__type1{
    color:#f8cad4;
    font-size:5rem;
    font-weight: 400;
    text-align: right;
    
   }
   .box-container__type2{
    color:#fff;
    font-size:1rem;
    font-weight: 300;
    text-align: right;
    margin-top:2vw;
   }
   .box-container__img{
    position: absolute;
    top: 18.2vw;
    right: 32px;
    transition: 0.5sease-in-out;
    width:24%;
}



.scroll-box {
  width: 20vw;           
  height: 1200px;        
  overflow-y: auto;       
  
}


.scroll-box img {
  width: 20vw;            
  height: auto;          
}

.box-container__img{
  transition: 0.5s ease-in-out;
}
.box-container__img:hover {
 
  transform: scale(2);
  filter: contrast(0.5);
  transform: translateX(40px);
}

/* 점핑 애니메이션 */
@keyframes jump {
  0% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-20px); /* 올라가면서 */
  }
  50% {
      transform: translateY(10px);  /* 내려가면서 */
  }
  75% {
      transform: translateY(-5px);  /* 다시 살짝 올라가면서 */
  }
  100% {
      transform: translateY(0);     /* 원래 위치로 돌아오기 */
  }
}

.box.jump {
  animation: jump 0.8s ease-out;
}

/*휴대폰 start*/
.list {
  display: flex;
  justify-content: center;
  position: relative;
  width: 23vw;
  height: 85vh;

      
}

.in {
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 50px);
  border-radius: 5px;
  background-color: #d9f0ff;
  z-index: 2;
  overflow-y: auto;  
}
.in img{
  overflow: hidden;
  width: 100%;
  height: auto;   

}
.out {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #2a2a2a;
  z-index: 1;
}

.more {
  position: absolute;
  bottom: 10px;
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  font-size: 11px;
  border-radius: 50px;
  background-color: #a5a5a5;
}





.list::-webkit-scrollbar {
  display: none; 
}





/*휴대폰 end*/
.section6__img2{
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 295px;
  left: 0px;
  width:30%;
}
.section6__img2:hover {
 
  transform: scale(2);
  filter: sepia(1);
  transform: translateX(40px);
}











.scroll-box::-webkit-scrollbar {
  display: none; 
}

.linetype{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.line_type{
  color:#fff;
  font-size:6rem;
  font-weight: 700;
  text-align: center;
  margin-top:2vw;
  white-space: nowrap; /* 텍스트한줄*/
  width: 100%; 
    
}
.line_type1{
color: #fff;
font-size: 6rem;
font-weight: 700;
text-align: center;
margin-top: 17vw;
white-space: nowrap;
width: 100%;}

.line_type2{
  color:#ffca00;
  font-size:3.7rem;
  font-weight: 600;
  text-align: right;
  text-align: center;
  
}



/* 섹션 section1 end ---------------------------------------*/




/*section3 start======================================================*/
.section3__1{
  width:100%;

}
.section3__type1{
  background-color: #bc1045;
  width:100%;
  height: 100vh;
}
.section3__type2{
  background-color: #7e7e7e;
  width:100%;
  height: 100vh;
}
.section3__type3{
  background-color: #d1d1d1;
  width:100%;
  height: 100vh;
}







 /* 슬라이더 컨테이너 */
 .slider-container {
  overflow: hidden;
  margin: auto;
  position: relative;
  width: 100vw;
  height: 100vh; 
}

/* 내부 */
.slider {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 300%; 
}

/* 각 슬라이드 */
.slide {
  width: 100vw;  
  height: 100vh; 
  object-fit: cover;
  position: relative;
}


.section3__type1 {
  background-color: #cb2457; 
}

.section3__type2 {
  background-color: #0d021a; 
}

.section3__type3 {
  background-color: #090d32;
}


.slider-buttons {
  position: absolute;
  top: 68px;
  right: 85px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 10;
}

.slider-buttons .btn {
  color: #ffc712;
  background: none;
  padding: 10px;
  cursor: pointer;
  font-size: clamp(1rem, 1.3rem, 2rem);
  border-radius: 18px;
  transition: background-color 0.3s;
  width: 5vw;
  height: 5vw;
  border: 2px solid #ffc712;
}

.slider-buttons .btn:hover {
  border: 1px solid #93879c;
}
.btn a{
  color:#ffc712;
}
.content3_1 {
  font-size: 6rem;
  color: #ffc712;
}
.content{
  color:#fff;
}

.right_img {
  width: 44%;
  height: auto;
  object-fit: cover;
  margin-left: 12vw; 
}
.right_img1 {
  width: 18%;
  height: auto;
  object-fit: cover;
  margin-left: 12vw; 
}
.right_img2 {
  width: 56%;
  height: auto;
  object-fit: cover;
  margin-left: 12vw; 
}





.content {
  max-width: 45%; 
  padding: 20px;
  color: white;
  z-index: 5; 
  margin-left: -8vw; 
}

.content h2,.content1 h2 {
  font-size: 6rem;
  margin-bottom: 38px;
  line-height: 6vw;
  color: #fff;
}

.content p,.content1 p {
  font-size: clamp(0.8rem, 1.2rem, 1.5rem);
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.5vw;
  width: 36vw;
  color:#fff;
}

.section3_right {
  display: flex
  ;
      align-items: center;
      width: 100%;
      margin-top: 7.5vw;
      /* gap: 6vw; */
      justify-content: flex-start;
      flex-direction: row;
}
.section3_right2 {
  display: flex
  ;
      align-items: center;
      width: 100%;
      margin-top: 7.5vw;
      gap: 6vw;
      justify-content: space-between;
      flex-direction: row;
}
.section3_right3 {
  display: flex
  ;
      align-items: center;
      width: 100%;
      margin-top: 7.5vw;
      gap: 6vw;
      justify-content: space-between;
      justify-content: flex-start;
      flex-direction: row;
}

.project_details {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 20px;
}

.project_info {
  display: flex;
  flex-direction: column;
  width: 15vw;
}

project_details 

.detail_item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail_item p {
  font-size: 1rem;
  line-height: 1.5;
}

.skills_images {
  display: flex;
 
}

.skills_images img {
  width: 40px;
  height: auto;
}




/*section end==============================================================*/








/*section4 start----------------------------------------------------------------*/

.ellipse-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  margin-left: 23vw;
  
}


.ellipse {
  position: absolute; 
  border-radius: 50%; 
  animation: rotateEllipse 20s infinite linear; 
  margin: 0 auto;
}


.ellipse1 {
  width: 32vw;
  height: 33vh;
  animation-duration: 14s; 
  animation-direction: normal; 
  border: 1px solid rgba(68, 0, 255, 0.4);
  /* filter: blur(2px); */
  box-shadow: 0px 0px 30px 6px rgb(84 22 253 / 70%);
  backdrop-filter: blur(2px);
  background: linear-gradient(to left, #0b0c107a, #12131a7a, #0c0e143d, #050506);
}



.ellipse2 {
  width: 32vw;
  height: 33vh;
  animation-duration: 22s; 
  animation-direction: reverse;
  border: 1px solid rgb(251, 0, 222);
  box-shadow: 0px 0px 30px 6px rgb(251, 0, 222);
  
}

.ellipse3 {
  width: 32vw;
  height: 33vh;
  animation-duration: 6s; 
  animation-direction: normal; 
  border: 1px solid rgb(140, 0, 255);
  box-shadow: 0px 0px 30px 6px rgb(140, 0, 255);

}


.image {
  position: absolute;
  width: 30px; 
  height: 30px; 
  top: 50%; 
  left:0%; 
  transform-origin: 50% 50%;
  
  
}


.ellipse1 .image-1 {
  transform: translate(-43px, 120px) rotate(0deg) translateX(500px);
}
.ellipse1 .image-2 {
  transform: translate(127px, -99px) rotate(72deg) translateX(250px);
}
.ellipse1 .image-3 {
  transform: translate(186px, -152px) rotate(144deg) translateX(250px);
}
.ellipse1 .image-4 {
  transform: translate(379px, -50%) rotate(216deg) translateX(250px);
}
.ellipse1 .image-5 {
  transform: translate(399px, 93px) rotate(288deg) translateX(250px);
}


.ellipse2 .image-1 {
  transform: translate(388px, -50%) rotate(0deg) translateX(210px);
}
.ellipse2 .image-2 {
  transform: translate(300PX, -58PX) rotate(72deg) translateX(210px);
}
.ellipse2 .image-3 {
  transform:translate(258PX, -21PX) rotate(144deg) translateX(210px);
}
.ellipse2 .image-4 {
  transform: translate(269PX, -15PX) rotate(216deg) translateX(210px);
}
.ellipse2 .image-5 {
  transform: translate(293PX, 30PX) rotate(288deg) translateX(210px);
}


.ellipse3 .image-1 {
  transform: translate(439PX, -50%) rotate(0deg) translateX(160px);
}
.ellipse3 .image-2 {
  transform: translate(140PX, -50%) rotate(180deg) translateX(160px);
}


 @keyframes rotateEllipse {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }

/*section4 start*/


.skills-section {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  margin-left: 23vw;
}

/* 스킬과 설명글*/
.skill-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

/* 각 스킬 그룹 */
.skills-wrapper {
  display: flex;
  flex-direction: column;
}

/* 개별스킬*/
.skill-group {
  display: flex;
  flex-direction: column;
  gap: 2px; 
}


.skill-group-title {
  font-size: clamp(0.8rem, 1rem, 2rem);
  font-weight: bold;
  color: #949292;
  margin-bottom: 15px; 
  text-align: left;
  font-weight: 500;
}

/* 스킬과설명글묶음 */
.skill-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px; 
}
.skill-item img{
  width:1.2vw;
}
/* 스킬*/
.skill-name {
  font-size: 20px;
  font-weight: bold;
  color: #9d00ff;
}

/* 설명 */
.description {
  font-size: 14px;
  color: #fafafa;
  line-height: 1.6; 
 
}

.skill-item, .description-item {
  opacity: 0;
  transform: translateY(50px); 
  animation: fadeInUp 1s ease-out forwards; 
}


@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


.skill-item:nth-child(1) {
  animation-delay: 0.3s;
}

.skill-item:nth-child(2) {
  animation-delay: 0.6s;
}

.skill-item:nth-child(3) {
  animation-delay: 0.9s;
}

.description-item:nth-child(1) {
  animation-delay: 0.3s;
}

.description-item:nth-child(2) {
  animation-delay: 0.6s;
}

.description-item:nth-child(3) {
  animation-delay: 0.9s;
}



/*section4 end*/





/*section5 start*/
#section5 {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.section5__img {
    display: flex;
    animation: slide 20s infinite linear;
}

.section5__img img {
  width: 20%;
  height: 39vh;

}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


  
/*section5 end*/


/*섹션6 section6-------------------------------------------*/
.section6 img{
  margin-left:10vw;
}


#section6{
  display:flex;
  flex-direction: row;
  width:100%;
  margin-top: 18vw;
  height: 100vh;
}

#section6 img{
  width:30%;
  margin-left: 12vw;
}









.section4__type {
  position: relative;
  opacity: 1;
}

/* Click */
.section4__type a {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  top: 63%;
  left: 92%;
  transform: translate(-50%, -50%) rotate(-25deg);
  z-index: 10;
  display: block;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover 시 텍스트 색상 변경 및 위치 변화 없애기 */
.section4__type a:hover {
  color: #b1afb1; 
  transform: translate(-50%, -50%) rotate(-25deg);
}


.section4__type a::after {
  content: none; 
}


.section_type{
    margin:0 auto;
    margin-top: 30vw;
    margin-left: 6vw;
    display:flex;
   
    
}
.section_type1{
  font-weight: 600;
    text-align: center;
    color:#2e2e2e;
    font-size:1.2rem;
    text-align: left;
}
.section_type2{
  margin-top: 10vw;
   text-align: center;
  color: #2e2e2e;
  font-size: 3rem;
  text-align: left;
  font-weight: 700;

}
.section_type3{

    text-align: center;
    color: #2e2e2e;
    font-size: 4.5rem;
    text-align: left;
    font-weight: 700;

}
.section_type4{

  color: #2e2e2e;
  font-size: 2rem;
  text-align: left;
  font-weight: 500;

}


.section4__type {
    margin-right: 24vw;
    position: relative;
}

.section4_type{
    width:100%;
    height: 100vh;
    line-height: 1.2;
    
  }
  .section4_type1{
    font-weight: 600;
      text-align: center;
      color:#2e2e2e;
      font-size:1.2rem;
      text-align: left;
  }
  .section4_type2{
  
     text-align: center;
    color: #2e2e2e;
    font-size: 3rem;
    text-align: left;
    font-weight: 700;
  
  }
  .section4_type3{
  
      text-align: center;
      color: #2e2e2e;
      font-size: 4.5rem;
      text-align: left;
      font-weight: 700;
      line-height: 3vw;
  
  }
  .section4_type4{
  
    color: #2e2e2e;
    font-size: 2rem;
    text-align: left;
    font-weight: 500;
  
  }
  




.section4_line {
  width: 100%;
  height: 3px;
  background-color: #2e2e2e;
  margin-top: 1.1vw;
  opacity: 0;
  transform: translateX(-100%); 
  transition: transform 1s ease, opacity 1s ease; 
}
.active {
  opacity: 1; 
  transform: translateX(0); 
}


.section4_line.show {
    margin-right: 43vw;
    width: 42.2%;
    margin-top: 0.4vw;
      margin-bottom: 0.3vw;
  
    
  
  }
  .section4_type5{
    line-height: 3.5vw;
  }
  
  







/*moon start*/
.moon{
  background:black;
  width:250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  margin:0 auto;
  margin-top:8vw;
}
.moon::before{
  content: '';
  background-color: #9900b8;
  position: absolute;
  display: block;
  height: 100%;
  width:100%;
  border-radius: 50%;
  z-index: -1;
  animation:3.2s animation infinite alternate
}
@keyframes animation{
  0%{
      transform:translateX(40px) scale(0.9);
      box-shadow:none;
  }
  50%{
      transform:translate(0px,0px) scale(1.02);
      box-shadow:0 0 10px #93879c,0 0 80px 2px #fff;
  }
  100%{
      transform:translateX(-40px) scale(0.9);
      box-shadow: none;
  }
}


/*moon end*/


.box-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 78vw;

}

.box {
  width: 31%;
  height: 80vh;

  opacity: 0;
  transform: translateY(100px); 
  transition: opacity 2s, transform 3s; 
}



.box2 {

  margin-top: 26vw;
}

.box3 {
 
  margin-top: 26vw;
}

/*마지막섹션*/
.container {
  display: flex;
  justify-content: space-between;  
  width: 80%;
  max-width: 1200px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
  flex: 1;
  background: url('https://via.placeholder.com/500') no-repeat center center;
  background-size: cover;
  height: 100%;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  height: 100%;
}

.right p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}